<footer class="l-footer">
  <div class="row">
    <div class="grid-sm-14 grid-md-3 grid-lg-3 offset-lg-1">
      <%= link_to root_path, class: 'footer-logo' do %>
        <svg class="icon-logo-vizzuality">
          <use xlink:href="#icon-logo-vizzuality"></use>
        </svg>
      <% end %>
    </div>
    <div class="grid-sm-14 grid-md-11 grid-lg-9">
      <ul class="m-social">
        <li><%= link_to 'All projects', '', class: 'allProjectsLink' %></li>
        <li><%= link_to 'Twitter', 'https://twitter.com/vizzuality', target: '_blank' %></li>
        <li><%= link_to 'Github', 'https://github.com/Vizzuality', target: '_blank' %></li>
        <li><%= link_to 'Contact', '/about#contact' %></li>
        <li><%= link_to 'Blog', 'http://blog.vizzuality.com' %></li>
      </ul>
    </div>
  </div>
</footer>
