extends ../layout.jade

block claim
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      .m-claim
        article
          p
            | Important work,
            br
            | beautifully crafted.
          a(class="btn is-anchor", href="/#projects") Our work

block main
  - var numberOfProjects = 5

  .row#projects
    .grid-sm-14.grid-lg-12.offset-lg-1
      each project, index in projects
        if index < numberOfProjects - 2
          article.m-project-card(style="background-image: url(/assets/images/projects/#{project.image})")
            .veil
            .m-project-content
              p.client= project.client
              h1: a(href="/projects/#{project.slug}")= project.title
              p.description= project.summary
              a(class="btn-secondary", href="/projects/#{project.slug}") Read more

      if lastPost
        article.m-post-card
          .m-post-card-content
            h1 Stay tuned.
            h2: a(href="/blog/#{lastPost.slug}")= lastPost.title
            a(class="btn", href="/blog/#{lastPost.slug}") Read our blog

      each project, index in projects
        if index > numberOfProjects - 2 && index < numberOfProjects
          article.m-project-card(style="background-image: url(/assets/images/projects/#{project.image})")
            .veil
            .m-project-content
              p.client= project.client
              h1: a(href="/projects/#{project.slug}")= project.title
              p.description= project.summary
              a(class="btn-secondary", href="/projects/#{project.slug}") Read more
    
    if projects.length > numberOfProjects
      .grid-sm-14.grid-lg-12.offset-lg-1
        ul.m-project-grid
          each project, index in projects
            if index >= numberOfProjects
              li(class="is-grid-#{project.grid}", style="background-image: url(/assets/images/projects/#{project.image})")
                a.m-project-grid-link(href="/projects/#{project.slug}")
                  .veil
                  .m-project-grid-content
                    p.client= project.client
                    h2= project.short_title

  section.m-message
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        p Get in touch.
        a(href="/about#contact", class="btn") Contact us

  section.m-subscribe
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        .m-subscribe-content
          span Subscribe to our newsletter
          .m-subscribe-email
            input(type="email" placeholder="Your email here")
            a(class="btn-secondary" href="#") Send


