extends ../layout.jade

block vars
  - var title = 'Welcome'
  - var description = 'We are trusted by the world’s more important organisations to create unique tools and applications with a lasting benefit to society and the environment.'

block claim
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      .m-claim
        article
          p
            | Beautiful data design,
            br
            | for a better world.
          p.description We are trusted by the world’s more important organisations to create unique tools
            br
            | and applications with a lasting benefit to society and the environment
          a(class="btn-secondary is-anchor", href="/#projects") Our work

block main
  - var numberOfProjects = 5

  .row#projects
    .grid-sm-14.grid-lg-12.offset-lg-1
      each project, index in projects
        if index < numberOfProjects - 2
            article.m-project-card(class="#{project.align}", style="background-image: url(/assets/images/projects/#{project.image})")
              a(href="/projects/#{project.slug}", class="cover-link")
              .veil
              .m-project-content
                if project.svg_logo
                  img(src="/assets/images/clients/white/#{project.svg_logo}", alt="#{project.client}" width="#{project.logoWidth}" )
                else if project.client_logo
                  img(src="/assets/images/clients/white/#{project.client_logo}", alt="#{project.client}" width="#{project.logoWidth}")
                h1: a(href="/projects/#{project.slug}")= project.title + '.'
                p.description= project.summary + '.'
                a(class="btn-third", href="/projects/#{project.slug}") Read more

      if lastPost
        article.m-post-card
          .m-post-card-content
            h1 Stay tuned.
            h2: a(href="http://blog.vizzuality.com/post/131088982681/an-open-letter-for-open-satellite-data") An open letter for open satellite data
            a(class="btn", href="http://blog.vizzuality.com/post/131088982681/an-open-letter-for-open-satellite-data") Read our blog

      each project, index in projects
        if index >= numberOfProjects - 2 && index < numberOfProjects
          article.m-project-card(style="background-image: url(/assets/images/projects/#{project.image})")
            .veil
            .m-project-content
              if project.svg_logo
                img(src="/assets/images/clients/white/#{project.svg_logo}", alt="#{project.client}" width="#{project.logoWidth}")
              else
                img(src="/assets/images/clients/white/#{project.client_logo}", alt="#{project.client}" width="#{project.logoWidth}")
              //- p.client= project.client
              h1: a(href="/projects/#{project.slug}")= project.title + '.'
              p.description= project.summary + '.'
              a(class="btn-third", href="/projects/#{project.slug}") Read more
    
    if projects.length > numberOfProjects
      .grid-sm-14.grid-lg-12.offset-lg-1
        ul.m-project-grid
          each project, index in projects
            if index > numberOfProjects - 1
              li(class="is-grid-#{project.grid}", style="background-image: url(/assets/images/projects/#{project.image})")
                a.m-project-grid-link(href="/projects/#{project.slug}")
                  .veil
                  .m-project-grid-content
                    if project.svg_logo
                      img(src="/assets/images/clients/white/#{project.svg_logo}", alt="#{project.client}" width="#{project.logoWidth}")
                    else 
                      img(src="/assets/images/clients/white/#{project.client_logo}", alt="#{project.client}" width="#{project.logoWidth}")
                    //- p.client= project.client
                    h2= project.short_title
      .grid-sm-14.grid-lg-12.offset-lg-1
        div.m-all-projects
          a(class="btn allProjectsLink" href="#") See all projects


  section.m-clients
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
          ul
            - clients = ['biodiversity_aq', 'calp', 'calvert', 'climate', 'google', 'interaction', 'nasa', 'tdwg', 'wri', 'zeitz', 'zooniverse', 'ree']
            for client in clients
              li: img(src="/assets/images/clients/#{client}.png" alt="#{client}-logo" style="max-width: 175px")

  section.m-message
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        p Get in touch.
        a(href="/about#contact", class="btn") Contact us

  section.m-subscribe
    .row
      .m-subscribe-container
        .grid-sm-14.grid-lg-12.offset-lg-1
          .m-subscribe-content
            span Subscribe to our newsletter
            //- form#form-subscribe
            //-   input(type="email" required placeholder="Your email here")
            //-   button(type="submit" class="btn-secondary" id ="submitForm") Send
            #mc_embed_signup
              form(action="//simbiotica.us6.list-manage.com/subscribe/post?u=9f847f274fa7ec6a3b432fbf4&id=74452a0dec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                #mc_embed_signup_scroll
                .indicates-required                  
                .mc-field-group
                  input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email here")
                #mce-responses.clear
                .response#mce-error-response(style="display:none")
                .response#mce-success-response(style="display:none")
                //- <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                div(style="position: absolute; left: -5000px;")
                  input(type="text" name="b_9f847f274fa7ec6a3b432fbf4_74452a0dec" tabindex="-1" value="")
                input(type="submit" value="send" name="subscribe" id="mc-embedded-subscribe" class="submit")
                

