extends ../layout.jade

block main
  section.m-project-detail
    article
      header.m-project-header(style="background-image: url(/assets/images/projects/#{data.image})")
        .veil
        .row
          .grid-sm-14.grid-lg-12.offset-lg-1
            h1= data.title
            p A project for 
              strong #{data.client}

      .m-project-content
        .row
          .grid-sm-14.grid-lg-10.offset-lg-2
            | !{content}

      footer.m-project-footer
        .row
          .grid-sm-14.grid-lg-12.offset-lg-1
            .m-project-url
              a(href="#{data.link}", class="btn") Check it online

        if data.post_title && data.post_url
          .row
            .grid-sm-14.grid-lg-12.offset-lg-1
              .m-project-post
                a(href="#{data.post_url}", class="btn-secondary") Read post
    
    if data.modules.text_left
      article.m-project-article-left
        .row
          .grid-sm-14.grid-lg-12.offset-lg-1
            .m-project-article-content(style="background-image: url(/assets/images/projects/#{data.modules.text_left.image})"): div
              h2= data.modules.text_left.title
              p= data.modules.text_left.description
              a(href="#{data.link}", class="btn") See online
      
    if data.modules.text_right
      article.m-project-article-right
        .row
          .grid-sm-14.grid-lg-12.offset-lg-1
            .m-project-article-content(style="background-image: url(/assets/images/projects/#{data.modules.text_right.image})"): div
              h2= data.modules.text_right.title
              p= data.modules.text_right.description

    if data.modules.blocks
      article.m-project-blocks
        .row
          .grid-sm-14.grid-lg-12.offset-lg-1
            h2= data.modules.blocks.title
        .row
          each m, i in data.modules.blocks.modules
            if i == 0
              .grid-sm-14.grid-lg-4.offset-lg-1
                .thumb: img(src="/assets/images/projects/#{m.image}")
                p= m.description
            else
              .grid-sm-14.grid-lg-4
                .thumb: img(src="/assets/images/projects/#{m.image}")
                p= m.description

    if data.modules.map
      article.m-project-detail-map
        .row
          .grid-sm-14.grid-lg-12.offset-lg-1
            h2= data.modules.map.title
            .m-project-browser
              .m-project-browser-content
                iframe(src=data.modules.map.url, frameborder="0")
            p= data.modules.map.description

    if data.modules.video
      article.m-project-detail-video
        .row
          .grid-sm-14.grid-lg-12.offset-lg-1
            h2= data.modules.video.title
            iframe(src=data.modules.video.url, frameborder="0", allowfullscreen)

  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      section.m-message
        p Get in touch
        a(href="/about#contact", class="btn") Contact us
