<div class="l-main">
  <section class="m-project-detail">
    <header class="m-project-detail-header" style="background-image: url(<%= @project.cover_image.url %>)">
      <div class="veil"></div>
      <div class="row">
        <div class="grid-sm-14 grid-lg-12 offset-lg-1">
          <h1><%= @project.title + '.' %></h1>
          <p class="summary"><%= @project.summary %></p>
        </div>
      </div>
    </header>
    <div class="m-project-detail-content">
      <div class="row">
        <div class="grid-sm-8 grid-md-8 grid-lg-8 offset-lg-1">
          <p><%= raw @project.body %></p>
        </div>
        <div class="grid-sm-5 grid-md-5 grid-lg-4 offset-sm-1 offset-md-1 offset-lg-1">
          <div class="client-info">
            <%= image_tag @project.client.logo.url(:medium), class: "m-project-client-logo" %>
            <h2><%= @project.client.name if @project.client && @project.client.name%></h2>
            <p class="date"><%= @project.release_date if @project.release_date %></p>
            <%= link_to "Check it online", @project.link, class: "btn", target: "_blank" if @project.link %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @project.text_blocks.present? %>
    <% @project.text_blocks.each do |text_block| %>
      <section class="m-project-detail-article is-<%= text_block.text_side %>">
        <div class="row sameheight is-grid-centered">
          <% if text_block.text_side == 'left' %>
            <div class="grid-sm-14 grid-lg-5 offset-lg-1 is-grid-centered">
              <div class="m-project-article-content">
                <h2><%= text_block.title %></h2>
                <p><%= text_block.description %></p>
              </div>
            </div>
          <% end %>

          <div class="grid-sm-14 grid-lg-8">
            <%= image_tag text_block.image.url, alt: "#{@project.short_title}-details" %>
          </div>

          <% if text_block.text_side == 'right' %>
            <div class="grid-sm-14 grid-lg-5">
              <div class="m-project-article-content">
                <h2><%= text_block.title %></h2>
                <p><%= text_block.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  <% end %>

  <% if @project.block.present? && @project.block.block_modules.present? %>
    <section class="m-project-detail-blocks">
      <div class="row uncollapse">
        <div class="grid-sm-14 grid-lg-12 offset-lg-1">
          <h2><%= @project.block.title %></h2>
        </div>
      </div>

      <div class="row uncollapse">
        <% @project.block.block_modules.each_with_index do |b, i| %>
          <div class="grid-sm-14 grid-md-4 grid-lg-4 <%= i == 0 ? 'offset-lg-1' : '' %>">
            <div class="thumb">
              <%= image_tag b.image.url, alt: "#{@project.short_title}-details" %>
            </div>
            <p><%= b.description %></p>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if @project.map.present? %>
    <section class="m-project-detail-iframe">
      <div class="row">
        <div class="grid-sm-14 grid-lg-12 offset-lg-1">
          <h2><%= @project.map.title %></h2>

          <div class="m-project-iframe">
            <div class="m-project-iframe-content">
              <iframe src="<%= @project.map.url %>" frameborder="0"></iframe>
            </div>
          </div>

          <p><%= @project.map.description %></p>
        </div>
      </div>
    </section>
  <% end %>
  
  <% if @project.video.present? %>
    <section class="m-project-detail-video <%= @project.video.style %>">
      <div class="row">
        <div class="grid-sm-14 grid-lg-10 offset-lg-2">
          <div class="video-box">
            <iframe src=<%= @project.video.url %> frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @project.post_title.present? && @project.post_url.present? %>
    <section class="m-project-blog">
      <div class="row">
        <div class="grid-sm-14 grid-lg-12 offset-lg-1">
          <article class="m-post-card">
            <div class="m-post-card-content">
              <h1>Stay tuned.</h1>
              <h2><%= link_to(@project.post_title, @project.post_url) %></h2>
              <%= link_to('Read our blog', @project.post_url, class: 'btn') %>
            </div>
          </article>
        </div>
      </div>
    </section>
  <% end %>

  <% if @project.opinions.present? %>
    <section class="m-project-opinions">
      <h2>What are people saying about it?</h2>

      <div class="row uncollapse sameheight">
        <% @project.opinions.each do |opinion| %>
          <div class="grid-sm-14 grid-lg-4">
            <div class="m-project-opinion-item">
              <div>
                <% if opinion.thumbnail.present? %>
                  <p class="m-project-opinion-photo">
                    <%= image_tag opinion.thumbnail.url, alt: "#{@project.short_title}-opinion" %>
                  </p>
                <% end %>
                <p class="m-project-opinion-text">
                  <%= opinion.title %>
                </p>
                <p class="m-project-opinion-autor">
                  <%= link_to(opinion.author_name, opinion.author_url) %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>

  <% if @project.link && @project.short_link %>
    <footer class="m-project-detail-footer">
      <div class="row sameheight">
        <div class="grid-sm-14 is-grid-centered m-project-url">
          <a href="<%= @project.link %>" target="_blank" class="link-cover"></a>
          <div><p><%= @project.short_link %></p></div>
          <div><%= link_to('Check it online', @project.link, target: '_blank', class: 'btn') %></div>
        </div>
      </div>
    </footer>
  <% end %>

  <section class="m-message">
    <div class="row">
      <div class="grid-sm-14 grid-lg-12 offset-lg-1">
        <p>Get in touch.</p>
        <%= link_to('Contact us', about_path(anchor: 'contact'), class: 'btn') %>
      </div>
    </div>
  </section>

  <% if @next_project.present? %>
    <section class="m-project-detail-next" style="background-image: url(<%= @next_project.project_image.url %>)">
      <div class="veil">
      </div>
      <div class="row">
        <div class="grid-sm-14 grid-lg-12 offset-lg-1">
          <p><%= @next_project.title %></p>
          <h1><%= link_to(@next_project.title, project_path(@next_project)) %></h1>
        </div>
      </div>
    </section>
  <% end %>

</div>
