extends ../layout.jade

block main
  section.m-project-detail
    
    header.m-project-detail-header(style="background-image: url(/assets/images/projects/#{data.image})")
      .veil
      .row
        .grid-sm-14.grid-lg-12.offset-lg-1
          p A project for 
            strong #{data.client}
          h1= data.title            

    .m-project-detail-content
      .row
        if data.client_logo
          .grid-sm-14.grid-lg-8.offset-lg-2
            | !{content}
          .grid-sm-14.grid-lg-2
            img.m-project-client-logo(src="/assets/images/clients/#{data.client_logo}")
        else
          .grid-sm-14.grid-lg-10.offset-lg-2
            | !{content}
    
    if data.link || data.post_url
      footer.m-project-detail-footer
        .row.sameheight
          if data.link && data.post_url
            .grid-sm-14.grid-lg-7.is-grid-centered.m-project-url
              div: a(href="#{data.link}", class="btn") Check it online
          else if data.link
            .grid-sm-14.grid-lg-14.is-grid-centered.m-project-url
              div: a(href="#{data.link}", class="btn") Check it online

          if data.link && data.post_url
            .grid-sm-14.grid-lg-7.is-grid-centered.m-project-post
              div
                if data.post_title
                  h2= data.post_title
                a(href="#{data.post_url}", class="btn-secondary") Read blog post
          else if data.post_url
            .grid-sm-14.grid-lg-14.is-grid-centered.m-project-post
              div
                if data.post_title
                  h2= data.post_title
                a(href="#{data.post_url}", class="btn-secondary") Read blog post
    
  if data.modules.text_left
    section.m-project-detail-article.is-left
      .row.sameheight
        .grid-sm-14.grid-lg-5.offset-lg-1
          .m-project-article-content
            h2= data.modules.text_left.title
            p !{data.modules.text_left.description}
            a(href="#{data.link}", class="btn") See online
        .grid-sm-14.grid-lg-8
          img(src="/assets/images/projects/#{data.modules.text_left.image}")
    
  if data.modules.text_right
    section.m-project-detail-article.is-right
      .row.sameheight
        .grid-sm-14.grid-lg-8
          img(src="/assets/images/projects/#{data.modules.text_right.image}")
        .grid-sm-14.grid-lg-5
          .m-project-article-content
            h2= data.modules.text_right.title
            p !{data.modules.text_right.description}


  if data.modules.blocks
    section.m-project-detail-blocks
      .row.uncollapse
        .grid-sm-14.grid-lg-12.offset-lg-1
          h2= data.modules.blocks.title
      .row.uncollapse
        each m, i in data.modules.blocks.modules
          if i == 0
            .grid-sm-14.grid-md-4.grid-lg-4.offset-lg-1
              .thumb: img(src="/assets/images/projects/#{m.image}")
              p !{m.description}
          else
            .grid-sm-14.grid-md-4.grid-lg-4
              .thumb: img(src="/assets/images/projects/#{m.image}")
              p !{m.description}

  if data.modules.map
    section.m-project-detail-iframe
      .row
        .grid-sm-14.grid-lg-12.offset-lg-1
          h2= data.modules.map.title
          .m-project-iframe
            .m-project-iframe-content
              iframe(src=data.modules.map.url, frameborder="0")
          p !{data.modules.map.description}

  if data.modules.video
    section.m-project-detail-video
      .row
        .grid-sm-14.grid-lg-12.offset-lg-1
          h2= data.modules.video.title
          iframe(src=data.modules.video.url, frameborder="0", allowfullscreen)
  
  section.m-message
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        p Get in touch.
        a(href="/about#contact", class="btn") Contact us

  if (next)
    section.m-project-detail-next(style="background-image: url(/assets/images/projects/#{next.image})")
      .veil
      .row
        .grid-sm-14.grid-lg-12.offset-lg-1
            p Next project
            h1: a(href="/projects/#{next.slug}")= next.title
