extends ../layout.jade

block main
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      article.m-team
        header
          p.main-phrase= data.phrase
          h1= data.name
          p.position= data.position
          .photo(style="background-image: url(/assets/images/team/#{data.photo})"): img.is-hidden(src="/assets/images/team/#{data.photo}")

        | !{content}

        footer
          p
            a(href="https://github.com/#{data.github}") Github
            br
            a(href="https://linkedin.com/#{data.github}") Linkedin
            br
            a(href="mailto:#{data.github}") Email

  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      section.m-message
        p We are hiring
        a(href="#", class="btn") Apply
