extends ../blog.jade

block main
  section
    .row
      if (post.image)
        .grid-sm-14.grid-md-12.offset-md-1.grid-lg-11
          img(src="/assets/images/posts/#{post.image}", alt="#{post.image}")
      .grid-sm-14.grid-md-12.offset-md-1.grid-lg-8.offset-lg-3
        article.m-post
          header
            h1: a(href="/blog/#{post.slug}")= post.title
            time.m-post-date= moment(post.date).format('Do MMM YYYY')
          .m-post-content
            !{post.html}

  section.m-prev-next-team
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        .m-prev-next-team-items
          if (prev)
            .m-prev-team-item: div
              p Previous
              h2: a(href="/blog/#{prev.slug}")= prev.title
          if (next)
            .m-next-team-item: div
              p Next
              h2: a(href="/blog/#{next.slug}")= next.title
