extends ../layout.jade

block claim
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      .m-claim
        article
          p Great user
            | experiences for
            | stories that matter.
          a(class="btn-secondary is-anchor", href="#team") Our team
          a(class="btn is-anchor", href="#contact") Contact

block main
  section.m-about
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        ul.m-team-gallery#team
          - var images = ['bici', 'cabage', 'duende', 'pc', 'ventilador']
          - var count = 0
          for member, i in team
            if (member)
              li(style="background-image: url(/assets/images/team/#{member.photo})")
                a(href="/about/#{member.slug}")
                  .veil
                  .m-team-gallery-content
                    h3= member.name
                    p= member.position
                    img.is-hidden(src="/assets/images/team/#{member.photo}", alt=member.name)
            else
              - count = count + 1
              li(style="background-image: url(/assets/images/office/#{images[count]}.jpg)")
  
  section.m-message
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        p We’re hiring.
        a(href="#", class="btn") Apply

  section.m-map
    #mapInput
      .row
        .grid-sm-14.grid-lg-12.offset-lg-1
          //- h2 Where are you?
          //- input(type="text")
    #map
    
    .m-map-locations
      .row
        .grid-sm-14.grid-lg-6.offset-lg-1
          #madridOffice.m-map-location-item.is-highlighted
            h3 Madrid
            p C/ Eloy Gonzalo, 27, 2
              br
              | 28010, Madrid
              br
              | Spain
        .grid-sm-14.grid-lg-6
          #cambridgeOffice.m-map-location-item
            h3 Cambridge
            p 16 Mill Lane
              br
              | Cambridge, CB2 1SB,
              br
              | UK
  
  section.m-clients
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
          ul
            - clients = ['antarctic', 'calp', 'calvert', 'chrome-hyperakt', 'climate', 'geocat', 'google', 'imazon-google', 'interaction', 'nasa', 'tdwg', 'wri', 'zeitz', 'zooniverse']
            for client in clients
              li: img(src="/assets/images/clients/#{client}.png")
  
  section.m-contact#contact
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        h1 Get in touch.
        form#contactForm(action="/contact", method="post", autocomplete="off")
          p Dear vizzuality,
          .form-row
            textarea(name="message", placeholder="Message", required)
          .form-row.m-contact-email
            p#closeString Cheers,
            input(name="email", type="email", placeholder="Contact email", required)
          .form-row.m-contact-submit
            button(type="submit", class="btn") Send
