extends ../layout.jade

block vars
  - var title = data.name + ', ' + data.position
  - var description = content.replace(/<\/?[^>]+(>|$)/g, '').slice(0, 157) + '...'

block main
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      article.m-team
        header
          .photo(style="background-image: url(/assets/images/team/#{data.photo})"): img(src="/assets/images/team/#{data.photo}" alt="#{data.name}")
          p.main-phrase= data.phrase
          h1= data.name
          p.position= data.position

        .content
          | !{content}

        footer
          p
            if data.twitter
              a(href="https://twitter.com/#{data.twitter}" target="_blank") Twitter
              br
            if data.twitter == 'danielcasius'
              a(href="http://open.spotify.com/track/4hnMsfqrEM6K8FIRPmxnZs" target="_blank") 1375°C - Los hijos de la Plaga (2010)
              br
            if data.dribble
              a(href="https://dribbble.com/#{data.dribble}" target="_blank") Dribble
              br
            if data.github
              a(href="https://github.com/#{data.github}" target="_blank") Github
              br
            if data.behance
              a(href="https://www.behance.net/#{data.behance}" target="_blank") Behance
              br
            if data.linkedin
              a(href="#{data.linkedin}" target="_blank") Linkedin
              br
            a(href="mailto:#{data.email}") Email
  
  section.m-prev-next-team
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        .m-prev-next-team-items
          if (prev)
            .m-prev-team-item: div
              p Previous
              h2: a(href="/about/#{prev.slug}")= prev.name
              p.position= prev.position
          if (next)
            .m-next-team-item: div
              p Next
              h2: a(href="/about/#{next.slug}")= next.name
              p.position= next.position
  
  section.m-message
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        p We’re hiring.
        a(href="http://vizzuality.github.io/job-offers/", class="btn") Apply
