extends ../layout.jade

block main
  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      article.m-team
        header
          .photo(style="background-image: url(/assets/images/team/#{data.photo})"): img.is-hidden(src="/assets/images/team/#{data.photo}")
          p.main-phrase= data.phrase
          h1= data.name
          p.position= data.position

        .content
          | !{content}

        footer
          p
            a(href="https://github.com/#{data.github}") Github
            br
            a(href="https://linkedin.com/#{data.github}") Linkedin
            br
            a(href="mailto:#{data.email}") Email
  
  article.m-prev-next-team
    .row
      .grid-sm-14.grid-lg-12.offset-lg-1
        .m-prev-next-team-items
          if (prev)
            .m-prev-team-item: div
              p Previous
              h2: a(href="/about/#{prev.slug}")= prev.name
              p.position= prev.position
          if (next)
            .m-next-team-item: div
              p Next
              h2: a(href="/about/#{next.slug}")= next.name
              p.position= next.position

  .row
    .grid-sm-14.grid-lg-12.offset-lg-1
      section.m-message
        p We are hiring
        a(href="#", class="btn") Apply
